<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
    <div class="container">

      <div class="block">
        <div class="container is-fluid">
          <div class="notification is-primary">
      <h1 class="title">Welcome to mpp's Hot Beverage parlour!</h1>


      <p> My name is MPP and I am a recent Political Science PhD convert into IT. I am trained as a Angular / Java 8 / SpringBoot / Postgresql Full Stack developer and this is my sandbox
      web application: Hot Bev 2. It is intended to be the online front of an imaginary hot beverage venue, where people can order coffees, teas and hot soups
      (because I like soups).

        It is version 2 because I have had to resuscitate the project, having neglected it for a few months.

        By visiting the Menu > Custom Coffee Drinks, patrons can create a coffee drink of their own, which will be made once they visit the shop.

        These are bare bones so to get the application running. Without any prior experience in java / angular development whatsoever, this is the result of 2 months of interrupted sprints (I was not solely focused on the project) from late December 2020 to early February 2021.
        I started from scratch and have attended all elements of the full stack app development, including the CI/CD pipeline.

        Where credit is due and on occasion I have asked for help on debugging from my friend **lilmilkboi**.

        This is work in progress.

        last_update: 15AUG2021

      </p>


          </div>
        </div>
      </div>

    </div>
    </div>
    </section>


    <!--
        ADDITIONAL VALUES FOR class="hero is-VALUE1 is-VALUE2 etc"
        hero and hero-body and container: structure our overall sizing for the hero
        is-info: make it blue
        is-fullheight: make the hero the full height (100vh) of the browser
        is-bold: give it a gradient
    -->
